*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.wrapper {
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
ul, ol, li {
    list-style: none;
}
span{
    font-weight: 700;
    color: rgba(24, 207, 171, 1);
}
.content {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}
.section-one{
    width: 100vw;
    height: 100%;
    background-image: url("../image/bg_first.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}