.header {
    background: rgba(94, 93, 88, 0.6);
    height: 120px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
}
.logo-link {
    display: flex;
    align-items: center;
}

.logo-text {
    padding-left: 6px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
}

.logo-img {
    width: 58px;
    height: 67px;
}
.nav-list {
    display: flex;
}
.list {
    margin-left: 21px;
    position: relative;
}
.underline {
    border-bottom: 2px solid rgba(24, 207, 171, 1);
    width: 100%;
    position: absolute;
    top: 71px;
    opacity: 0;
    transition: 0.3s;
}
.list:hover .underline {
    opacity: 1;
}
.content-about_us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-top: 264px;
}
.text_uppercase {
    text-transform: uppercase;
    font-weight: 700;
}
.first {
    font-size: 35px;
}
.second {
    font-size: 78px;
}
.text_capitalize {
    text-transform: capitalize;
    font-size: 34px;
    color: rgba(212, 212, 212, 1);
    font-weight: 400;
}
.buttons-header-container {
    width: 364px;
    margin: 129px auto 243px;
}
.buttons-header-content {
    display: flex;
    justify-content: space-between;
}

.first-button-about_us-copy {
    width: 168px;
    height: 63px;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.first-button-about_us {
    width: 168px;
    height: 63px;
    background: rgba(24, 207, 171, 1);
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 5px;
    z-index: 1;
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.first-button-about_us:active {
    transform: translateY(-2px);
    background: rgba(30, 200, 120, 1);
    box-shadow: 0 -3px lightgray;
}


.second-button-about_us-copy {
    width: 168px;
    height: 63px;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.second-button-about_us {
    width: 168px;
    height: 63px;
    background: rgba(0, 203, 246, 1);
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 5px;
    z-index: 1;
    color: #fff;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.second-button-about_us:active {
    transform: translateY(-2px);
    background: rgba(0, 150, 246, 1);
    box-shadow: 0 -3px lightgray;
}

/*==========Dark & Light Square Start==========*/
.section-two {
    margin-top: 10px;
}
.cubes_container {
    display: flex;
}
.cube {
    width: 100vw;
    min-width: 254px;
    /*width: 482px;*/
    height: 377px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cube-dark {
    background: rgba(28, 42, 51, 1);
}
.cube-light {
    background: rgba(24, 207, 171, 1);
}

.option-img {
    width: 57px;
    height: 97px;
}
.custom-img {
    width: 93px;
    height: 75px;
}
.support-img {
    width: 60px;
    height: 96px;
}
.device-img {
    width: 99px;
    height: 76px;
}
.cube-dark-text {
    padding-top: 47px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
.cube-light-text {
    padding-top: 67px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
/*==========Dark & Light Square End==========*/

/*==========Our Service Section Start==========*/
.services-container {
    margin-top: 85px;
    margin-bottom: 255px;
}
.service-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 69px;
}
.service-text {
    font-size: 36px;
    line-height: 40px;
    color: rgba(78, 78, 78, 1);
    padding-bottom: 26px;
}
.top-line-service {
    border-top: 1px solid rgba(24, 207, 171, 1);
    width: 76px;
    height: 3px;
    margin-bottom: 1px;
}
.bottom-line-service {
    border-top: 1px solid rgba(24, 207, 171, 1);
    width: 76px;
    height: 3px;
    margin-left: 25px;
}

.service-buttons-block {
    display: flex;
    position: relative;
}
.service-button {
    width: 195px;
    height: 72px;
    border: 1px solid rgba(237, 239, 239, 1);
    background: rgba(248, 252, 254, 1);
    color: rgba(113, 113, 113, 1);
    font-size: 16px;
    position: relative;
}
.service-button:active {
    box-shadow: inset 0 -1px 5px #000;
}

.service-button:focus {
    background: rgba(24, 207, 171, 1);
    border: 1px solid rgba(24, 207, 171, 1);
    color: #fff;
}
.service-button:hover {
    border: 1px solid rgba(24, 207, 171, 1);
}
.service-button:focus::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(24, 207, 171, 1);
    position: absolute;
    top: 70px;
    left: 85px;
}

.serv-img-text {
    padding-left: 15px;
    color: rgba(119, 119, 119, 1);
    font-weight: 300;
}

.serv-content-all {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
}
.serv-pic {
    width: 192px;
    height: 139px;
}

/*==========Buy Now Section Start==========*/
.section-buy-now {
    background-image: url('../image/bg_second.png');
    width: 100vw;
    height: 100%;
    background-size: cover;
}
.buy-now-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 127px 0;

}
.buy-now-content {
    text-align: center;
}
.buy-now-title {
    font-weight: 700;
    font-size: 40px;
    color: rgba(24, 207, 171, 1);
    padding-bottom: 15px;
    text-transform: uppercase;
}
.buy-now-text {
    font-size: 16px;
    color: rgba(216, 216, 216, 1);
}
.buy-now-button {
    margin-top: 70px;
}
/*==========Buy Now Section End==========*/

/*==========Our Amazing Work Section Start==========*/
.our-works-container {
    background: rgba(233, 237, 239, 1);
    padding: 100px 0;
}
.buttons-menu-block {
    display: flex;
    justify-content: center;
}
.btn-menu {
    padding: 14px 28px;
    color: rgba(113, 113, 113, 1);
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid rgba(218, 218, 218, 1);
    font-size: 14px;
    line-height: 30px;
    cursor: pointer;
}
.btn-menu:active {
    box-shadow: inset 0 -1px 5px rgba(24, 207, 171, 1);
}
.our-work-image-block {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    margin-top: 70px;
}
.active-btn {
    color: rgba(24, 207, 171, 1);
    border: 2px solid rgba(24, 207, 171, 1);
}
.work-img {
    width: 284px;
    height: 206px;
}
.btn-menu:focus {
    color: rgba(24, 207, 171, 1);
    border: 2px solid rgba(24, 207, 171, 1);
}
.button-load-more {
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 168px;
    height: 63px;
    background: rgba(24, 207, 171, 1);
    border-radius: 5px;
    padding: 22px 23px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin: 70px auto 0;
    cursor: pointer;
}

.button-load-more:active {
    box-shadow: inset 0 2px 5px #000;
    background: rgba(30, 200, 120, 1);
}
.plus-icon {
    width: 18px;
    height: 18px;
}
.work-img-hidden {
    display: none;
    width: 284px;
    height: 206px;
}
.hover-container {
    width: 284px;
    background: rgba(233, 237, 239, 1);
    border-top: 2px solid rgba(24, 207, 171, 1);
    position: absolute;
    visibility: hidden;
    /*opacity: 0;*/
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height:0;
    transition: 0.8s;
}
.hover-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px auto;
}
.hover-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.shape {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid rgba(24, 207, 171, 1);
    border-radius: 50%;
}
.shape:hover svg path{
    fill: #fff;
}
.shape:hover {
    background: rgba(24, 207, 171, 1);
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border: 1px solid rgba(24, 207, 171, 1);
    border-radius: 50%;
}
.circle:hover {
    background: rgba(24, 207, 171, 1);
}
.circle:hover .little-cube {
    background: #fff;
}
.little-cube {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    width: 12px;
    height: 12px;
    background: rgba(24, 207, 171, 1);
}
.hover-text1 {
    font-size: 14px;
    font-weight: 700;
    color: rgba(24, 207, 171, 1);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.hover-text2 {
    font-size: 12px;
    font-weight: 300;
    color: rgba(138, 138, 138, 1);
}
.work-img-box {
    display: block;
    width: 100%;
    height: 206px;
    position: relative;
}
.work-img-box2 {
    display: none;
    height: 206px;
    position: relative;
}

.work-img-box2:hover .hover-container{
    display: block;
    bottom: 0;
    height: 100%;
    visibility: visible;
}
.work-img-box:hover .hover-container{
    bottom: 0;
    height: 100%;
    visibility: visible;
    /*opacity: 1;*/
}
/*==========Our Amazing Work Section End==========*/

/*==========Breaking News Section Start==========*/
.news-container {
    padding: 100px 0;
}
.block-posts {
    display: grid;
    grid-template-columns: repeat(4, 263px);
    grid-template-rows: repeat(2, 270px);
    gap: 40px
}
.post {
    position: relative;
}
.post-img {
    width: 263px;
    height: 208px;
}
.date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 66px;
    background: rgba(32, 62, 56, 1);
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}
.date-txt {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}
.day {
    padding-bottom: 5px;
}
.month {
    padding-top: 5px;
}
.blog-text {
    font-size: 18px;
    font-weight: 700;
    color: rgba(113, 113, 113, 1);
    padding-left: 15px;
    margin-top: 10px;
    transition: 0.4s;
}
.by_admin {
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
    font-weight: 300;
    font-size: 14px;
    color: rgba(119, 119, 119, 1);
}
.by_admin-text1 {
    padding-right: 17px;
    border-right: 1px solid rgba(119, 119, 119, 1);
}
.by_admin-text2 {
    padding-left: 17px;
}
.post:hover .date{
    background: rgba(24, 207, 171, 1);
}
.post:hover .blog-text {
    color: rgba(24, 207, 171, 1);
}
/*==========Breaking News Section End==========*/

/*==========What People Say About theHam Start==========*/
.people-say-container {
    background-image: url("../image/people_say_ham_bg.png");
    background-size: cover;
    height: 100%;
}
.people-say-content {
    padding: 100px 0;
}
.quote-block {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
}

.slide-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(31, 218, 181, 0.2);
    margin-right: 30px;
    object-fit: contain;
}
.white-color {
    color: #fff;
}
.comment {
    color: #BBBBBB;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    height: 60px;
}
.name {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    color: rgba(31, 218, 181, 1);
}
.job {
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    color: rgba(187, 187, 187, 1);
}
.photo-hero-img {
    display: flex;
    justify-content: center;
    object-fit: contain;
    margin: 50px auto;
    width: 143px;
    height: 143px;
    border-radius: 50%;
    border: 5px solid rgba(24, 207, 171, 0.2);
}
.about_hero-wrapper {
    display: none;
}
.about_hero-wrapper-active {
    display: block;
}
.slider-active {
    transform: translateY(-20px);

}
.slider-photo {
    transition: 0.5s;
}
.slide-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(187, 187, 187, 1);
    margin-right: 30px;
}
.slide-btn:hover {
    background: rgba(24, 207, 171, 1);
}
.slide-btn:hover path {
    fill: #fff;
}
/*==========What People Say About theHam End==========*/
/*==========Footer Start==========*/
.footer {
    background: rgba(34, 53, 63, 1);
    height: 120px;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}
.copyright {
    font-weight: 300;
    font-size: 14px;
    color: rgba(174, 174, 174, 1);
}
.footer-text-1 {
    font-weight: 300;
    font-size: 14px;
    color: rgba(174, 174, 174, 1);
    margin: 0 7px 0 5px;
}
.footer-text-span {
    font-weight: 300;
    font-size: 14px;
    color: rgba(24, 207, 171, 1);
}
.footer-text-2 {
    font-weight: 300;
    font-size: 14px;
    color: rgba(174, 174, 174, 1);
    padding-left: 7px;
    border-left: 1px solid rgba(174, 174, 174, 1);
}
/*==========Footer End==========*/